@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .piece {
    background-position: center;
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
  }
  .piece:hover {
    cursor: grab;
  }
  .piece:active {
    cursor: grabbing;
  }

  @keyframes pulse {
    50% {
      opacity: 0;
    }
  }

  #logo_underscore {
    animation: pulse;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 1000ms;
  }
}
